<h1>Select user's email</h1>

<.form let={f} for={@conn} action={Routes.note_user_path(@conn, :edit, :selected)} >
<input name="users" type="hidden" value="false"> 

 <%= multiple_select(f, 
 :users,
  [users: @users],
   selected: []) %>
  <div>
    <%= submit "Save" %>
  </div>
</.form>